/* You can add global styles to this file, and also import other style files */
@import "~primeng/resources/themes/omega/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~simple-line-icons/css/simple-line-icons.css";

.progress {
    background-color: #C1BEBE !important;
}

.loss {
    color: red;
  }

  .profit {
    color: gree;
  }